
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =============================== Commons =============================== */

html { scroll-behavior: smooth;}

h1,h2,h3,h4,h5,h6 {
    font-size: 2.25rem;
}

p {
    font-size: 1.2rem;
}

body {
    font-family: 'Roboto','Lato', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article,section{
    max-width: 1200px;
}

nav,header,footer {
    width: 100%;
}

.contactMeBtn {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    background-color: orange;
    padding: .5rem 1rem;
    border-radius: 2rem;
    
}

.contactMeBtn a {
    text-decoration: none;
    font-style: none;
    color: whitesmoke;
}

/* =============================== NavBar =============================== */

nav *{
    color: white;
}

nav {
    height: 4rem;
    background-color: #252D39;
    display: flex;
    align-items: center;
}

nav p {
    margin: .5rem;
    font-size: 2rem;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin: .5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: large;
}

/* =============================== Header =============================== */
/* ############# LandingPage Header ############# */
.lp-hdr {
    position: relative;
    width: 100%;
    display: flex;
    height: 80vh;
    overflow: hidden;
}

.lp-hdr img {
    width: 45%;
}

.lp-hdr .hdr-image {
    position: relative;
    width: 45%;
    background-image: url('src/Hdr.jpg');
    background-size:cover;
    background-position: center;
}

.lp-hdr .hdr-txt {
    position: relative;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 3rem 3rem #f3f3f3;

}

.lp-hdr span .contactMeBtn {
    margin: 3rem;
}

/* =============================== Job Description =============================== */
.lp-jd {
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-jd h2 {
    margin: 1rem;
}

.lp-jd p {
    max-width: 1000px;
    margin: 0 2rem;
}

/* =============================== Research Areas =============================== */
.lp-ra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lp-ra h3{
    text-align: center;
}



.lp-ra .ra {
    margin: 5rem 1rem;
    position: relative;
    display: flex;
}

.lp-ra .ra img {
    position: relative;
    width: 30%;
    background-color: darkred;
}

.lp-ra .ra span {
    position: relative;
    width: 70%;
    margin: 1rem 2.5rem;
}

.lp-ra em {
    font-size: 1.5rem;
}

.lp-ra p {
    margin-top: 1.5rem;
}

.lp-ra .ra2 {
    flex-direction: row-reverse;
}
/* =============================== Featured Slider =============================== */

.lp-fs {
    max-width: 100%;
    height: 75vh;
    width: 100%;
    background-color: rgb(155, 255, 200);
    margin: 5rem 0;
}


/* =============================== Contact =============================== */
.contact {
    margin: 5rem 1rem;
    width: 100%;
    max-width: 1000px;
}

.contact h4 {
    text-align: center;
    margin-bottom: 5rem;
}

.contact p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact .cont-stuff {
    display: flex;
    justify-content: space-around;
}

.contact .cont-stuff .cont-img {
    height: 80%;
}

.contact .cont-stuff .cont-img span {
    position: relative;
    display: flex;
    height: 100%;
    margin: 2rem;
}

.contact .cont-stuff .cont-img .cont-img-head{
    position: relative;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image:url('src/ContactIMG.JPG');
    background-position: 40% 30%;
    background-size: 250%;
    box-shadow: 0rem .5rem .75rem .05rem rgba(0, 0, 0, 0.37);
}

.contact .cont-stuff .cont-img ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 0 1rem;
}

.contact .cont-stuff .cont-img ul li {
    width: 2.5rem;
    height: 2.5rem;
    margin: .25rem;
    background-color:rgb(186, 201, 201);
    padding: .5rem;
    border-radius: 50%;
    overflow: hidden;

}

.contact .cont-stuff .mail {
    position: relative;
    width: 21rem;
    margin: 0 1rem;
}


.contact .cont-stuff .mail span{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .cont-stuff .mail .cont-inputs {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .cont-stuff .mail input {
    width: 100%;
    margin: .5rem;
    box-shadow: 0 0 1rem 0 inset rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    border: none;
}

.contact .cont-stuff .mail .input-email {
    height: 2.5rem;
}

.contact .cont-stuff .mail .input-text {
    height: 90%;
}

.contact .cont-stuff .mail button {
    border: none;
}

/* =============================== Footer =============================== */

footer {
    background-color: #252D39;
    height: 7.5rem;
    display: grid;
    place-items: center;
}
