
/* ########################### Header ############################ */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    border-bottom: 1px black solid;
}

header h1 {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 3rem;
}

/* ########################### Introduction ############################ */


.intro {
    width: 100%;
    height: 30vh;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h2 {
    font-size: 2rem;
}

.intro p {
    font-size: 1.25rem;
}

/* ########################### Common Section ############################ */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ########################### Common Cards ############################ */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin:1rem .5rem;
    min-width: 10rem;
    width: 30%;
    height: 40vh;
    background-color: gray;

}

.img-blcok {
    width: 100%;
    height: 35%;
}

.txt-block {
    width: 100%;
    height: 65%;
}

/* ########################### Skills Section ############################ */


.skills {
    /* dont set height! it makes problems for mobile view */
    width: 100%;
    border-bottom: 1px black solid;
    display: flex;
}

/* ########################### Experties Section ############################ */

.experties {
    /* dont set height! it makes problems for mobile view */
    width: 100%;
    border-bottom: 1px black solid;

}

/* ########################### Research Section ############################ */


.research {
    width: 100%;
    height: 60vh;
    border-bottom: 1px black solid;
}

