
* {
    margin: 0;
    padding: 0;
}


/* ########################### Commons ############################ */

h2 {
    font-size: 2.25rem;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ########################### Header ############################ */


/* ########################### Cards ############################ */

.cards {
    position: relative;
    margin: 1rem;
    background-color:darkgray;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.card {
    position: relative;

}

.card img {
    position: relative;
    width: 25vw;
    height: 5rem;
    background-color: darkred;
    margin: 1rem;
}

.card .band {
    width: 100%;
    position: absolute;
    top: 5rem;
    background-color: darkgreen;
    text-align: center;
    z-index: 5;
    padding: .25rem;
}

.card p {
    position: relative;
    top: -1rem;
    height: 25vh;
    background-color: darkorange;
    margin: 1rem;
}